$red: #ec6566;
$brightRed: #ff4053;
$purpure: #b15fff;
$yellow: #fec400;
$scrollbarGrayBackground: #ebeae8;
$scrollbarGrayBul: #a0a0a0;
$gray: #d5d5d5;
$green: #00b67a;
$aquamarine: #b0fde4;

@import '____initialStyle';
@import '___header';
@import '___nav';
@import '__main';
@import '_footer';
@import '__fonts';
@import '__slider';
